* {box-sizing: border-box;}
body {background-color: #5a6e1e; font-family: Arial, Helvetica, sans-serif; margin: 0em; padding: 0;}
nav {background-color:#cfe296; text-align: center; vertical-align: middle; font-size: 1em; font-weight: bold;}
nav a {text-decoration: none;}
nav a:link {color: #5a6e1e;}
nav a:visited {color: #414f16;}
nav a:hover { color:#fff9e2;}
nav ul{padding: 0px; list-style-type: none; flex-direction: column; margin: 0; font-size: 1.5em;}
nav li{padding-top: 0.5em; padding-bottom: 0.5em; padding-left: 1em; padding-right: 1em; width: 100%; border-bottom: 1px solid;}
main {background-color: #fff9e2; padding: 2em;}
header {color: #fff9e2; background-image: url(headerlithics.jpg); background-size: 100% 100%; background-repeat: no-repeat; height: 240px; padding-left: 5em; padding-top: 2em;}
header a {text-decoration: none; color:#fff9e2;}
h2 {color:#414f16}
summary {color: #414f16; font-size: 14pt;}
table {width: 384px; height: 216px}
th {text-align: left; vertical-align: bottom; font-size: 1em;}
th a{text-decoration: none;}
th a:link{color:#fff9e2}
th a:visited {color: #cfe296;}
th a:hover {color:#5a6e1e}
form {display: flex; flex-direction: column; padding-left: 1em; width: 80%;}
input, textarea {margin-bottom: .5em;}
footer {background-color: #cfe296; font-size: .60em;font-style: italic; text-align: center; padding: 1em;}
#wrapper {width: 90%; margin-right: auto; margin-left: auto; padding: 0;}
#pk12 {background-image: url(pk12.jpg); background-size:contain;}
#tours {background-image: url(labtour1.JPG); background-size:contain;}
#volunteer {background-image: url(volunteer.jpg); background-size:contain;}
#animation {background-image: url(claymation.jpg); background-size:contain;}
.sidenav {width: 100%}
.sidenav ul{font-size: 1em; border-bottom: 0;}
.map {display: flex; flex-direction: column; width: 80%; height: 300px}

@media (min-width: 600px){
    main {padding: 2em 5em 3em;}
    table {width: 480px; height: 270px}
    nav ul{display: flex; flex-flow: nowrap; justify-content: space-around; flex-direction: row;}
    nav li{padding-top: 0.5em; padding-bottom: 0.5em; padding-left: 1em; padding-right: 1em; width: 100%; border-bottom: 1px solid;}
    form {display: grid; grid-template-columns: 6em 1fr; gap: 1em; width: 40%; float: left;}
    input[type="submit"] {grid-column: 2/3; width: 9em;}
    .map {height: 50vh; margin-left: 50%; width: 50%;}
}

@media (min-width: 1024px){
    table {width: 800px; height: 450px}
    th {font-size: 1.5em;}
}
